<html class="canvas draggable fileAPI geolocation hashChange matchMedia picture pushState placeholder no-touchCapable transitions localStorage"><head>
    <title>enbake &gt; sites</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="List of all international craigslist.org online classifieds sites">
<meta name="viewport" content="width=device-width,initial-scale=1"><link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/cl.css?v=c6648b44577c80521babba5491336b01"><link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/leaflet.css?v=a3659216b188171f9645f20cd0b4e60e"><link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/MarkerCluster.css?v=9bea97021e746649c6837e95dd9723e8"><!--[if lt IE 9]>
<script src="//www.craigslist.org/js/html5shiv.min.js?v=c0739b14a84b052680cdee44fea07435" type="text/javascript" ></script>

<script src="//www.craigslist.org/js/respond-fork.min.js?v=247e877d69233f6f77bff30aca7b5473" type="text/javascript" ></script>

<![endif]-->
<!--[if lte IE 7]>
<script src="//www.craigslist.org/js/json2.min.js?v=6e47a4bb061d538548771024390aa00b" type="text/javascript" ></script>

<![endif]--></head>

<body class="sites en desktop w1024">

<script type="text/javascript"><!--
    function C(k){return(document.cookie.match('(^|; )'+k+'=([^;]*)')||0)[2]}
    var pagetype, pagemode;
    (function(){
        var h = document.documentElement;
        h.className = h.className.replace('no-js', 'js');
        var b = document.body;
        var bodyClassList = b.className.split(/\s+/);;
        pagetype = bodyClassList[0]; // dangerous assumption
        var fmt = C('cl_fmt');
        if ( fmt === 'regular' || fmt === 'mobile' ) {
            pagemode = fmt;
        } else if (screen.width <= 480) {
            pagemode = 'mobile';
        } else {
            pagemode = 'regular';
        }
        pagemode = pagemode === 'mobile' ? 'mobile' : 'desktop';
        bodyClassList.push(pagemode);
        if (C('hidesearch') === '1' && pagemode !== 'mobile') {
            bodyClassList.push('hide-search');
        }
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width > 1000) { bodyClassList.push('w1024'); }
        if (typeof window.sectionBase !== 'undefined') {
            var mode = (decodeURIComponent(C('cl_tocmode') || '').match(new RegExp(window.sectionBase + ':([^,]+)', 'i')) || {})[1] || window.defaultView;
            if (mode) {
                bodyClassList.push(mode);
            }
        }
        b.className = bodyClassList.join(' ');
    }());
--></script>

    <article class="page-container">
        <div id="logo">enbake<sup>®</sup></div>

        <section class="body">
            <div class="jump_to_continents">              
              <a href="#ASIA">Asia/Pacific/Middle East</a>              
            </div>

            <div id="map" style="border: 1px solid rgb(85, 26, 139); background-color: rgb(113, 164, 205); outline: none;" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" tabindex="0"><div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"><div class="leaflet-pane leaflet-tile-pane"><div class="leaflet-layer " style="z-index: 1; opacity: 1;"><div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 4; transform: translate3d(475px, 154px, 0px) scale(0.5);"></div><div class="leaflet-tile-container leaflet-zoom-animated" style="z-index: 5; transform: translate3d(317px, 102px, 0px) scale(1);"><img alt="" role="presentation" src="//map0.craigslist.org/lowzoom/1/0/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(60px, -104px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map1.craigslist.org/lowzoom/1/1/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(316px, -104px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map1.craigslist.org/lowzoom/1/0/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(60px, 152px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map2.craigslist.org/lowzoom/1/1/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(316px, 152px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map1.craigslist.org/lowzoom/1/1/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-196px, -104px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map0.craigslist.org/lowzoom/1/0/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(572px, -104px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map2.craigslist.org/lowzoom/1/1/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-196px, 152px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map1.craigslist.org/lowzoom/1/0/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(572px, 152px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map0.craigslist.org/lowzoom/1/0/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-452px, -104px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map1.craigslist.org/lowzoom/1/1/1.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(828px, -104px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map1.craigslist.org/lowzoom/1/0/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(-452px, 152px, 0px); opacity: 1;"><img alt="" role="presentation" src="//map2.craigslist.org/lowzoom/1/1/0.png" class="leaflet-tile leaflet-tile-loaded" style="width: 256px; height: 256px; transform: translate3d(828px, 152px, 0px); opacity: 1;"></div></div><div class="leaflet-layer " style="z-index: 1;"></div></div><div class="leaflet-pane leaflet-shadow-pane"></div><div class="leaflet-pane leaflet-overlay-pane"></div><div class="leaflet-pane leaflet-marker-pane"><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; transform: translate3d(602px, 134px, 0px); z-index: 134;"><div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; transform: translate3d(633px, 246px, 0px); z-index: 246;"><div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; transform: translate3d(819px, 272px, 0px); z-index: 272;"><div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; transform: translate3d(839px, 235px, 0px); z-index: 235;"><div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; transform: translate3d(409px, 223px, 0px); z-index: 223;"><div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; transform: translate3d(798px, 302px, 0px); z-index: 302;"><div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(432px, 147px, 0px); z-index: 147;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; transform: translate3d(617px, 207px, 0px); z-index: 207; opacity: 1;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(698px, 222px, 0px); z-index: 222;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(671px, 297px, 0px); z-index: 297;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(523px, 237px, 0px); z-index: 237;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(482px, 169px, 0px); z-index: 169;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(532px, 285px, 0px); z-index: 285;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(670px, 198px, 0px); z-index: 198;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; transform: translate3d(677px, 156px, 0px); z-index: 156; opacity: 1;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; transform: translate3d(831px, 197px, 0px); z-index: 197; opacity: 1;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(567px, 285px, 0px); z-index: 285;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(800px, 223px, 0px); z-index: 223;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(744px, 223px, 0px); z-index: 223;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(638px, 175px, 0px); z-index: 175;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(854px, 307px, 0px); z-index: 307;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(495px, 211px, 0px); z-index: 211;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(515px, 193px, 0px); z-index: 193;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div><div class="leaflet-marker-icon cl-marker-icon leaflet-zoom-animated leaflet-interactive" tabindex="0" style="margin-left: -8px; margin-top: -8px; width: 16px; height: 16px; opacity: 1; transform: translate3d(468px, 189px, 0px); z-index: 189;">+<div style="width: 16px; height: 16px; line-height: 16px;"><div class="pal"></div><div class="pub"></div></div></div></div><div class="leaflet-pane leaflet-tooltip-pane"></div><div class="leaflet-pane leaflet-popup-pane"></div><div class="leaflet-proxy leaflet-zoom-animated" style="transform: translate3d(256px, 206.793px, 0px) scale(1);"></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in"></a><a class="leaflet-control-zoom-out leaflet-disabled" href="#" title="Zoom out" role="button" aria-label="Zoom out"></a></div></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control">© enbake - Map data  <a href="http://www.naturalearthdata.com/">Natural Earth</a>, © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a></div></div></div></div>

 <h1><a name="ASIA"></a>Asia, Pacific and Middle East</h1>
            <div class="colmask">
                <div class="box box_1">
                        <h4>India</h4>
                    <ul>
                        <li><a href="https://ahmedabad.craigslist.co.in/">ahmedabad</a></li>
                        <li><a href="https://bangalore.craigslist.co.in/">bangalore</a></li>
                        <li><a href="https://bhubaneswar.craigslist.co.in/">bhubaneswar</a></li>
                        <li><a href="https://chandigarh.craigslist.co.in/">chandigarh</a></li>
                        <li><a href="https://chennai.craigslist.co.in/">chennai (madras)</a></li>
                        <li><a href="https://delhi.craigslist.co.in/">delhi</a></li>
                        <li><a href="https://goa.craigslist.co.in/">goa</a></li>
                        <li><a href="https://hyderabad.craigslist.co.in/">hyderabad</a></li>
                        <li><a href="https://indore.craigslist.co.in/">indore</a></li>
                        <li><a href="https://jaipur.craigslist.co.in/">jaipur</a></li>
                        <li><a href="https://kerala.craigslist.co.in/">kerala</a></li>
                        <li><a href="https://kolkata.craigslist.co.in/">kolkata (calcutta)</a></li>
                        <li><a href="https://lucknow.craigslist.co.in/">lucknow</a></li>
                        <li><a href="https://mumbai.craigslist.co.in/">mumbai</a></li>
                        <li><a href="https://pune.craigslist.co.in/">pune</a></li>
                        <li><a href="https://surat.craigslist.co.in/">surat surat</a></li>
                    </ul>
        </section>
<footer>
    <ul class="clfooter">
        <li>©  <span class="desktop">enbake</span><span class="mobile">CL</span></li>
        <li><a href="https://www.craigslist.org/about/help/">help</a></li>
        <li><a href="https://www.craigslist.org/about/scams">safety</a></li>
        <li class="desktop"><a href="https://www.craigslist.org/about/privacy.policy">privacy</a></li>
        <li class="desktop"><a href="https://forums.craigslist.org/?forumID=8">feedback</a></li>
        <li class="desktop"><a href="https://www.craigslist.org/about/craigslist_is_hiring">cl jobs</a></li>
        <li><a href="//www.craigslist.org/about/terms.of.use">terms</a><sup class="neu">new</sup></li>
        <li><a href="https://www.craigslist.org/about/">about</a></li>
        <li class="fsel desktop linklike" data-mode="mobile">mobile</li>
        <li class="fsel mobile linklike" data-mode="regular">desktop</li>
    </ul>
</footer>

    </article>

        <script type="text/javascript"><!--
var maptileBaseUrl = "//map{s}.craigslist.org/t09/{z}/{x}/{y}.png";
--></script>
    <script src="//www.craigslist.org/js/general-concat.min.js?v=add23877c18964abbf775789fb49e5ae" type="text/javascript"></script>
<script type="text/javascript"><!--
        var iframe = document.createElement('iframe');
        iframe.style.display = 'none';
        iframe.src = '//www.' + CL.url.baseDomain + '/static/localstorage.html?v=51a29e41f8e978141e4085ed4a77d170';
        document.body.insertBefore(iframe, null);
    --></script><iframe src="//www.craigslist.org/static/localstorage.html?v=51a29e41f8e978141e4085ed4a77d170" style="display: none;"></iframe><script src="//www.craigslist.org/js/leaflet-concat.min.js?v=aca55d2d00192f2c025502eb87b34798" type="text/javascript"></script>
<script src="//www.craigslist.org/js/maps.min.js?v=df2a37d907190c059d45c2afc2c7e202" type="text/javascript"></script>
<script src="//www.craigslist.org/js/sites-concat.min.js?v=cbfb78f84a417a211e47107d2609536c" type="text/javascript"></script>


</body></html>

<head>
    <title>enbake &gt; sites</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="List of all international craigslist.org online classifieds sites">
<meta name="viewport" content="width=device-width,initial-scale=1"><link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/cl.css?v=c6648b44577c80521babba5491336b01"><link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/leaflet.css?v=a3659216b188171f9645f20cd0b4e60e"><link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/MarkerCluster.css?v=9bea97021e746649c6837e95dd9723e8"><!--[if lt IE 9]>
<script src="//www.craigslist.org/js/html5shiv.min.js?v=c0739b14a84b052680cdee44fea07435" type="text/javascript" ></script>

<script src="//www.craigslist.org/js/respond-fork.min.js?v=247e877d69233f6f77bff30aca7b5473" type="text/javascript" ></script>

<![endif]-->
<!--[if lte IE 7]>
<script src="//www.craigslist.org/js/json2.min.js?v=6e47a4bb061d538548771024390aa00b" type="text/javascript" ></script>

<![endif]--></head>